<div class="container mt-5">
    <h2 class="mb-4">Cadastre-se</h2>
    <form id="formCadastro">
        <!-- Nome -->
        <div class="mb-2">
            <label for="nome" class="form-label">Nome (Primeira letra maiúscula. Ex: Pedro, Maria)</label>
            <input type="text" class="form-control" id="nome" name="nome" required>
        </div>

        <!-- Email -->
        <div class="mb-2">
            <label for="email" class="form-label">Email (institucional)</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>

        <!-- Senha -->
        <div class="mb-2">
            <label for="senha" class="form-label" >Senha (4 primeiros dígitos do seu CPF)</label>
            <input type="password" class="form-control" id="senha" name="senha" required>
        </div>

        <!-- Confirme sua Senha -->
        <div class="mb-2">
            <label for="senha" class="form-label" >Confirme sua senha</label>
            <input type="password" class="form-control" id="confirmarSenha" required>
        </div>

        <!-- Local de Trabalho -->
        <div class="mb-2">
            <label for="local" class="form-label">Local de Trabalho</label>
            <select class="form-select" id="local" name="local_de_trabalho" required>
                <option value="" disabled selected>Selecione o local de trabalho</option>
                <option value="Prefeitura">Prefeitura</option>
                <option value="Caneco">Caneco</option>
                <option value="PoupaTempo">Poupa Tempo</option>
                <option value="Cemiterio">Cemitério</option>
                <option value="Almoxarifado">Almoxarifado</option>
                <option value="SecSaude">Sec. de Saúde</option>
                <option value="SecEsporte">Sec. de Esporte</option>
                <option value="SecMeioAmbiente">Sec. de Meio Ambiente e Agronegócio</option>
                <option value="SecObras">Sec. de Planejamento de Obras e Serviços</option>
                <option value="SecSocial">Sec. de Promoção e Desenvolvimento Social</option>
                <option value="SecEducacao">Sec. de Educação</option>
            </select>
        </div>

        <input type="hidden" name="tipo" value="PADRAO"> <!-- Campo oculto com o ID da OS -->
        
        <!-- Botão de Enviar -->
        <button type="submit" class="btn btn-primary">Cadastrar-se</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const api = axios.create({
            baseURL: '{{baseURL}}',
        timeout: 10000,
        headers: {
            'Content-Type': 'application/json',
        },
    });

    document.getElementById('formCadastro').addEventListener('submit', function(event) {
        // Prevenir o comportamento padrão do formulário
        event.preventDefault();

        // Obter os dados do formulário
        const formData = new FormData(event.target);
        const data = {};
        formData.forEach((value, key) => {
            data[key] = value;
        });

        const senha = document.getElementById('senha').value;
        const confirmarSenha = document.getElementById('confirmarSenha').value;

        // Verificação se as senhas são iguais
        if (senha !== confirmarSenha) {
            window.alert('As senhas não coincidem. Por favor, verifique.');
            return; // Para a execução se as senhas não coincidirem
        }

        if (window.confirm('Confirmar cadastro?')) {
            axios.post('/cadastrar/usuario', data)
                .then(response => {
                    // Manipular a resposta bem-sucedida
                    window.alert(response.data.message);
                    window.location.href = "/"//window.location.href.split('?')[0] + '?';
                    // Você pode adicionar lógica para limpar o formulário ou redirecionar o usuário aqui
                })
                .catch(error => {
                    // Manipular erros
                    console.error('Erro ao cadastrar:', error);
                    window.alert("Erro ao cadastrar!")
                    // Você pode adicionar lógica para exibir uma mensagem de erro ao usuário aqui
                });
        } else {
            console.log('Operação de conclusão cancelada.');
        }        
    });
</script>
